$purple: #7C5DFA;
$purple-light: #9277FF;
$red: #EC5757;
$red-light: rgb(255, 151, 151);

$black: #0C0E16;
$gray-dark: #696e8b;
$gray: #888EB0;
$gray-light: #DFE3FA;
$white: #F8F8FB;

$background-dark: #141625;
$background-neutral: #1E2139;
$background-light: #252945;

$green: rgb(27, 129, 90);
$green-light: rgb(61, 230, 165);

:export {
    purple: $purple;
    purple-light: $purple-light;
    red: $red;
    red-light: $red-light;
    
    black: $black;
    gray-dark: $gray-dark;
    gray: $gray;
    gray-light: $gray-light;
    white: $white;
    
    background-dark: $background-dark;
    background-neutral: $background-neutral;
    background-light: $background-light;

    green: $green;
    green: $green-light;
}