@import './colors.module.scss';

@font-face {
    font-family: 'Spartan';
    src: url('/assets/SpartanMB-Regular.otf');
}

* {
    font-family: 'Spartan'
}

body {
    background-color: $background-dark;
    color: $white;

    .head {
        font-weight: bold;

        &.large {
            font-size: 32px;
            line-height: 36px;
        }

        &.medium {
            font-size: 20px;
            line-height: 22px;
        }

        &.small {
            font-size: 16px;
            line-height: 24px;
        }

        &.tiny {
            font-size: 12px;
            line-height: 15px;
        }
    }

    .text {
        font-size: 12px;
        line-height: 15px;

        &.spaced {
            font-size: 11px;
            line-height: 18px;
        }

        &.large {
            font-size: 13px;
            line-height: 16px;
        }
    }

    .label {
        font-size: 16px;
        line-height: 24px;
    }
}

.icon-after {
    justify-content: end;
}

.row {
    display: flex;
    align-items: center;
}